@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Arvo', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.wide-column {
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; */
  width: 75%;
  float: left;
}

.thin-column {
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; */
  width: 20%;
  float: right;
  /*border-left: 2px solid rgb(167, 167, 167);*/
  margin: 8px;
  text-align: center;
  font-family: Open Sans;
}

.header {
  height:75px;
  background-color: white;
  box-shadow: 0 6px 50px rgba(0, 0, 0, 0.3);
  width:100%;
  float: right;
  font-family: Open Sans;
}

#annotate.btn{
  padding:20px;
  position: relative;
  left: -150px;
  font-family: Open Sans;
  border-radius: 8px;
  font-weight: bold;
}

.add-annotation{
  display:inline;
  position: relative;
  left: 200px;
  font-family: Open Sans;
}

.textbox{
  height:50px;
  width: 250px;
  position: relative;
  left: 200px;
  top: -80px;
  display: inline;
  font-family: Open Sans;
  border-radius: 8px;
  border: 2px solid rgba(184, 184, 184, 0.432);
}

.dropdown{
  display: inline;
  position: relative;
  font-size: 20px;
  top: -40px;
  left: 40px;
  font-family: Open Sans;
  border-radius: 8px;
  border: 2px solid rgba(184, 184, 184, 0.432);
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin: 20px;
  border-bottom: 2px solid rgba(184, 184, 184, 0.432);
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* .sidenav{
  height:100%;
  width:25%;
  position:absolute;
  z-index:1;
  top: 0;
  right:0;
  background-color: rgb(14, 180, 180);
  overflow-x: hidden;
  padding-top:20px;
} */

.annotation-bar{
  font-family: Open Sans;
}

.entry{
  border: 2px solid rgba(221, 221, 221, 0.685);
  margin: 4px;
  padding: 4px;
  text-align: left;
}

#topbtn{
  background-color: white;
  margin: 4px;
  height: 60px;
  border: 2px solid rgba(221, 221, 221, 0.5);
  border-radius: 5px;
  float: right;
  font-family: Open Sans;
}
